<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Google Maps</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
    .angular-google-map-container {
      height: 400px;
    }

    body {
      font-family: "Helvetica Neue", Helvetica, Arial;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      color: #3b3b3b;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
      /*background: #2b2b2b;*/
    }

    .wrapper {
      margin: 0 auto;
      padding: 10px;
      max-width: 800px;
    }

    .table {
      margin: 0 0 40px 0;
      width: 100%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      display: table;
    }
    @media screen and (max-width: 580px) {
      .table {
        display: block;
      }
    }

    .row {
      display: table-row;
      background: #f6f6f6;
    }
    .row:nth-of-type(odd) {
      background: #e9e9e9;
    }
    .row.header {
      font-weight: 900;
      color: #ffffff;
      background: #ea6153;
    }
    .row.green {
      background: #27ae60;
    }
    .row.blue {
      background: #2980b9;
    }
    @media screen and (max-width: 580px) {
      .row {
        padding: 8px 0;
        display: block;
      }
    }

    .cell {
      padding: 6px 12px;
      display: table-cell;
    }
    @media screen and (max-width: 580px) {
      .cell {
        padding: 2px 12px;
        display: block;
      }
    }

    .btn {
      margin-top: 10px;
    }


  </style>
</head>
<body ng-app="googleMapsApp">

  <ng-view></ng-view>

  <!--<button ng-click="getDirections()">Get Directions!!!!!!</button>-->

  <!--<div id="route"></div>-->

  <!--Vendors-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <!--BootstrapJS vereist JQuery. Probeer UI Bootstrap...-->

  <script>
      // The route app API only works properly in HTTPS - Redirecting...
      if (location.protocol != 'https:')
      {
          location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
      }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlRuEhjSLXljliEhuFLepkNdg3xpNeyDs"></script>
  <script src="js/vendor/angular.js"></script>
  <script src="js/vendor/angular-route.js"></script>
  <script src="js/vendor/angular-simple-logger.js"></script>
  <script src="js/vendor/lodash.core.min.js"></script>
  <script src="js/vendor/angular-google-maps.min.js"></script>

  <!--Custom-->
  <script src="js/app.js"></script>
  <script src="js/controllers/googleMapsCtrl.js"></script>
  <script src="js/controllers/orderCtrl.js"></script>
  <script src="js/controllers/directionsCtrl.js"></script>
  <script src="js/controllers/plunkerCtrl.js"></script>
  <script src="js/factories/ordersFactory.js"></script>

</body>
</html>
