<h1>Directions!</h1>


  <ui-gmap-google-map
    center='map.center'
    zoom='map.zoom'
    options="map.options"
    control="map.control">

  <ui-gmap-marker
    ng-repeat="marker in markers"
    idKey='marker.idKey'
    coords='marker.coords'>
  </ui-gmap-marker>

  </ui-gmap-google-map>

  <button ng-click="getDirections()">Get Directions!!!!!!</button>

  <div id="route"></div>
