<h1>Routeplanner Leveranciers</h1>

<style>
    .marker-labels {
        font-size: 16px;
        background-color: white;
        border-style: solid;
        border-radius: 7px;
    }
</style>


<ui-gmap-google-map
        center='map.center'
        zoom='map.zoom'
        options="map.options"
        control="map.control">

    <ui-gmap-marker
            ng-repeat="marker in markers"
            idKey='marker.idKey'
            coords='marker.coords'
            options='marker.options'>
    </ui-gmap-marker>

</ui-gmap-google-map>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Restaurant info:</h3>
                    <p>{{ restaurant.naam_restaurant }}</p>
                    <p>Tel: {{ restaurant.tel_restaurant }}</p>
                    <p>{{ restaurant.straat }} {{ restaurant.nr }}</p>
                    <p>{{ restaurant.postcode }} {{ restaurant.gemeente }}</p>
                    <label for="mode">Transport type:</label>
                        <div class="form-group">
                            <select class="form-control" id="mode">
                                <option value="DRIVING">Auto</option>
                                <option value="WALKING">Te voet</option>
                                <option value="BICYCLING">Fiets</option>
                                <option value="TRANSIT">Openbaar vervoer</option>
                            </select>
                        </div>
                    <button class="btn btn-primary" id="routeRestaurant" ng-click="getDirections()">Routebeschrijving Restaurant</button>
                    <button class="btn btn-danger" id="claimBtn" ng-hide="claimBtn" ng-click="claimSelectedOrder()">Claim order?</button>
                    <button class="btn btn-warning" id="cancelBtn" ng-hide="cancelBtn" ng-click="cancelAndClose()">Terug naar overzicht</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="thumbnail">
                <div class="caption">
                    <h3>Order info:</h3>
                    <p>Order nummer: {{ order.id}}</p>
                    <p>Uur bestelling:
                        {{ order.bestellingtijdstip }}h</p>
                    <p>Uur klaar voor afhaling:
                        {{ order.ready4pickuptijdstip }}h</p>
                    <p>Bedrag:
                        {{ order.totaal.algemeen}} €</p>
                    <button class="btn btn-warning" id="pickupBtn" ng-hide="pickupBtn" ng-click="pickUpOrder(); getDirections(); hideRoute2 = false; hideRoute1 = true">2. Pick-up order</button>
                    <button class="btn btn-primary" id="deliverBtn" ng-hide="deliverBtn" ng-click="deliverOrder()">3. Deliver order</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-hide=hideRoute1>ROUTE 1 - LEVERANCIER -> RESTAURANT</div>
        <div ng-hide=hideRoute2>ROUTE 2 - RESTAURANT -> EINDKLANT</div>
        <div id="route"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
               <Deliver "thumbnail">
                <div class="caption">
                    <h3>Klant info:</h3>
                    <p>{{ klant.firstname }} {{ klant.lastname }}</p>
                    <p>Tel: {{ klant.tel }}</p>
                    <p>{{ klant.straat }} {{ klant.nr }} {{ klant.extension }}</p>
                    <p>{{ klant.postcode }} {{ klant.gemeente }}</p>
                    <button ng-hide="true">3. Routebeschrijving naar klant</button>
                </div>
            </div>
        </div>
    </div>
</div>

