<div class="container">
  <h2>Orders!</h2>
  <p>Kies een order:</p>
    <div class="wrapper">
      <div class="table">
        <div class="row header">
          <div class="cell">
            Order Id
          </div>
          <div class="cell">
            ReadyTime
          </div>
          <div class="cell">
            Naam + adres
          </div>
          <div class="cell">
            Stad
          </div>
        </div>

        <div class="row" ng-repeat="order in orders">
          <div class="cell">
            {{order.id}}
          </div>
          <div class="cell">
            {{order.ready4pickuptijdstip}}
          </div>
          <div class="cell">
            {{order.user.firstname}} {{order.user.lastname}}
          </div>
          <div class="cell">
            {{order.leveringsadres.straat}} {{order.leveringsadres.nr}} {{order.leveringsadres.extension}}<br>
            {{order.leveringsadres.postcode}} {{order.leveringsadres.stad}}
          </div>
          <div class="cell">
            <button id="{{$index}}" ng-click='locatieBtn($index)'>Toon leveringslocatie</button>
          </div>
        </div>

      </div>
    </div>

</div>