<div class="panel panel-default">
  <div class="panel-body">
    <ui-gmap-google-map
            center='map.center'
            zoom='map.zoom'
            options="map.options"
            control="map.control">

      <ui-gmap-marker
              ng-repeat="marker in markers"
              idKey='marker.idKey'
              coords='marker.coords'>
      </ui-gmap-marker>

    </ui-gmap-google-map>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="origin" class="col-sm-2 control-label">Origin</label>
        <div class="col-sm-8">
          <input type="text" id="origin" class="form-control" ng-model="directions.origin" />
        </div>
      </div>
      <div class="form-group">
        <label for="destination" class="col-sm-2 control-label">Destination</label>
        <div class="col-sm-8">
          <input type="text" id="destination" class="form-control" ng-model="directions.destination" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button class="btn btn-primary" ng-click="getDirections()">Get Directions</button>
        </div>
      </div>
    </form>

    <div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>
  </div>
</div>